path {
  fill: #51C6B2;
}

h1{

}

.container{
  margin:auto;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

input{
  margin:1%;
  padding:1%;
  border-radius: 5000px;
}

button{
  margin:1%;
  padding:1%;
  border-radius: 5000px;
  background-color: white;
}

.country{
  border: 2px black solid;
  width:100%;
}

/*.container div{
  margin: 1%;
}*/

.left{
  float:left;
  width:50%;
}

.right{
  float:right;
  width:30%;
  margin-right:10%;
  margin-top:5%;
}

.right div{
  margin:1%;
}