path {
  fill: #51C6B2;
}

body{
  background: linear-gradient(75deg,#A3E1D1 50%,#0088cc 50%);
}

.container{
  margin:auto;
  text-align: center;
  font-family: Montserrat, sans-serif;
} 

h1{
  color:#ececec;
}

h3{
  color: #03256C;
}

input{
  font-size: 15px;
  color:#03256C;
  margin:1%;
  padding:1%;
  border-radius: 5000px;
  border-color: #2B96A0;
  background-color: white;
}

input:hover{
  padding:2%;
  transition: 0.1s;
}

button{
  margin:1%;
  padding:1%;
  border-radius: 5000px;
  border-color: #2B96A0;
  background-color: white;
}

.country{
  border: 2px #A3E1D1 solid;
  width:100%;
  color: #A3E1D1;
  font-weight: bold;
  font-size: 17px;
}

.citizen{
  border: 2px #51c6b2 solid;
}

.country button{
  color:#0088cc;
}

.country button:hover{
  padding:2%;
  transition: 0.1s;
}

.left{
  float:left;
  width:50%;
}

.right{
  float:right;
  width:30%;
  margin-right:10%;
  margin-top:5%;
}

.right div{
  margin:1%;
}